/* universal selector removing default padding and setting font family */
* {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
/* forcing the body height to be the entire size of window */
body {
    height: 100vh;
    background-color: darkslategray;
    color: darkslategray;
}

/* navigation bar */
nav {
    background-color: darkslategray;
    padding: 10px 70px 10px 0;
    display: flex;
    justify-content: space-between
}
nav h1 {
    font-size: 300%;
    background-color: lightgreen;
    padding: 5px 10px 5px 50px;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}
nav li {
    color: lightgreen;
    font-size: 120%;
    padding: 0 7px;
}
nav a {
    color: lightgreen;
    text-decoration: none;
    border-bottom: 3px solid lightgreen;
    padding: 0 10px 5px 10px;
}

/* hero image */
#hero {
    width: 100%;
    height: 30%;
    background-image: url("../images/pattern.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 100%;
}
#hero h2 {
    background-color: lightgreen;
    color: darkslategray;
    font-size: 200%;
    padding: 10px;
    display: inline;
    position: relative;
    top: 75%;
    left: 75%;
}

/* about me container */
#about-me {
    background-color: honeydew;
    display: flex;
}
/* left part of about me section */
#about-me aside {
    background-color: honeydew;
    text-align: right;
    border-right: 5px solid darkslategray;
    margin-top: 50px;
    flex: 1 0 20%;
}
#about-me h1 {
    font-size: 300%;
    padding-right: 20px;
    /* forcing padding to push "about" above "me" because <br> didn't work on <h1> */
    padding-left: 100px;
}
/* right part of about me section */
#about-me article {
    flex: 1 0 75%;
}
#about-me p {
    line-height: 1.5;
    padding: 50px;
}

/* work container */
#work {
    background-color: honeydew;
    display: flex;
    /* padding-left: 10px; */
}
/* left part of work section */
#work aside {
    background-color: honeydew;
    text-align: right;
    border-right: 5px solid darkslategray;
    margin-top: 50px;
    flex: 1 0 21%;
}
#work h1 {
    font-size: 300%;
    padding-right: 20px;
}
/* right part of work section */
.container {
    display: flex;
    width: 100%;
    padding: 50px 80px 0 80px;
    flex-wrap: wrap;
    flex: 1 0 65%;
}
/* images for each project */
#project-1 {
    background-image: url(../images/rps.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 0 90%;
    height: 350px;
}
#project-2 {
    background-image: url(../images/cat-creat.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#project-3 {
    background-image: url(../images/etch.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#project-4 {
    background-image: url(../images/turd-clicker.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#project-5 {
    background-image: url(../images/horiseon.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.container figure {
    flex: 1 0 30%;
    margin: 10px 10px 5px 10px;
    height: 150px;
    background-color: lightgreen;
    border: 10px solid lightgreen;
}
figcaption {
    background-color: lightgreen;
    display: inline-block;
    padding: 15px;
    position: relative;
    top: 40%;
}
#big-caption {
    top: 74.5%;
}

/* contact me section */
#contact-me {
    background-color: honeydew;
    display: flex;
    padding-bottom: 50px;
}
/* left part of contact me section */
#contact-me aside {
    background-color: honeydew;
    text-align: right;
    border-right: 5px solid darkslategray;
    margin-top: 50px;
    flex: 1 0 20%;
}
#contact-me h1 {
    font-size: 300%;
    padding-right: 20px;
    padding-left: 100px;
}
/* right part of contact me section */
#contact-me ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1 0 75%;
}
#contact-me li {
    font-size: 120%;
}

#contact-me a {
    color: darkslategray;
    text-decoration: none;
    border-bottom: 3px solid darkslategray;
    padding: 0 10px 5px 10px;
}



@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav ul {
        flex-direction: column;
    }
    #about-me {
        flex-direction: column;
    }
    #about-me aside {
        text-align: left;
        padding-left: 20px;
        border: 0 solid black;
        border-bottom: 5px solid black;
    }
    #about-me h1 {
        padding: 0;
    }
    #work {
        flex-direction: column;
    }
    #work aside {
        text-align: left;
        padding-left: 20px;
        border: 0 solid black;
        border-bottom: 5px solid black;
    }
}